In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['imbd-sf']

In [7]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [8]:
len(data)

1890

# Предобработка датасета

In [10]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [3]:
import pandas as pd
df = pd.read_csv('data.csv')
#display(df.info())
max_budget = df[df['budget'] == df.budget.max()]
display(max_budget[['imdb_id','original_title','budget']])
print('\n')
#answer_ls.append(3)

       imdb_id     original_title     budget
491  tt1032751  The Warrior's Way  425000000

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [4]:
most_longest = df[df['runtime']==df.runtime.max()]
display('Какой из фильмов самый длительный (в минутах):', most_longest[['imdb_id','original_title','runtime']])
print('\n')
#answer_ls.append(2)

'Какой из фильмов самый длительный (в минутах):'

        imdb_id     original_title  runtime
1158  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [5]:
shortest = df[df.runtime == df.runtime.min()]
display('Какой из фильмов самый короткий в минутах:', shortest[['imdb_id','original_title','runtime']])
print('\n')
#answer_ls.append(3)

'Какой из фильмов самый короткий в минутах:'

       imdb_id   original_title  runtime
769  tt1449283  Winnie the Pooh       63

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [6]:
ave = df['runtime'].mean()
display('Какое число ближе к средней длительности фильма в датасете?:', ave)
print('\n')
#answer_ls.append(2)

'Какое число ближе к средней длительности фильма в датасете?:'

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [8]:
med = df.runtime.median()
display('Какое число ближе к медианной длительности фильма в датасете?:', med)
print('\n')
#answer_ls.append(1)

'Какое число ближе к медианной длительности фильма в датасете?:'

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [9]:
df_income = df
df_income['income'] = df['revenue'] - df['budget']
df_income_max = df_income[df_income['income'] == df_income.income.max()]
display('Какой самый прибыльный фильм?:', df_income_max[['imdb_id','original_title']])
print('\n')
#answer_ls.append(5)

'Какой самый прибыльный фильм?:'

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [10]:
df_income_min = df_income[df_income['income']==df_income.income.min()]
display('Какой фильм самый убыточный?:', df_income_min[['imdb_id','original_title','income']])
print('\n')
#answer_ls.append(3)

'Какой фильм самый убыточный?:'

       imdb_id     original_title     income
491  tt1032751  The Warrior's Way -413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [11]:
df_8 = df[df['revenue']>df['budget']]
display('У скольких фильмов из датасета объем сборов оказался выше бюджета?:', df_8['imdb_id'].count())
print('\n')
#answer_ls.append(1)

'У скольких фильмов из датасета объем сборов оказался выше бюджета?:'

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [12]:
# Вопрос 9
# Какой фильм оказался самым кассовым в 2008 году?
df_9 = df[df.release_year == 2008]
display('Какой фильм оказался самым кассовым в 2008 году?:',df_9[df_9['revenue']==df_9['revenue'].max()][['imdb_id','original_title','revenue']])
print('\n')
#answer_ls.append(4)

'Какой фильм оказался самым кассовым в 2008 году?:'

       imdb_id   original_title     revenue
600  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
# Самый убыточный фильм за период с 2012 по 2014 гг. (включительно)?
df_10 = df_income.query('2011<release_year<2015')
display(df_10.release_year.unique())
print('Самый убыточный фильм за период с 2012 по 2014 гг. (включительно):')
display(df_10[df_10.income == df_10.income.min()][['imdb_id','original_title','income']])
print('\n')
#answer_ls.append(5)

array([2014, 2012, 2013], dtype=int64)

Самый убыточный фильм за период с 2012 по 2014 гг. (включительно):

        imdb_id   original_title     income
1246  tt1210819  The Lone Ranger -165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [21]:
# Вопрос 11 
# Какого жанра фильмов больше всего? 
display('Comedy', df[df.genres.str.contains('Comedy', na = False) == True]['imdb_id'].count())
display('Drama', df[df.genres.str.contains('Drama', na = False) == True]['imdb_id'].count())
display('Action', df[df.genres.str.contains('Action', na = False) == True]['imdb_id'].count())
display('Adventure', df[df.genres.str.contains('Adventure', na = False) == True]['imdb_id'].count())
display('Thriller', df[df.genres.str.contains('Thriller', na = False) == True]['imdb_id'].count())
print('\n')
#answer_ls.append(3)

# Решение 2
pd.DataFrame(df.genres.str.split('|').tolist()).stack().value_counts()
# В процессе обучения и прохождения модуля я не встречал данного решения, увидел его в slack

'Comedy'

683

'Drama'

782

'Action'

583

'Adventure'

416

'Thriller'

597

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [22]:
df12 = df[df.revenue>df.budget]
pd.DataFrame(df12.genres.str.split('|').tolist()).stack().value_counts()
#answer_ls.append(1)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [26]:
director_list = ['Steven Spielberg','Ridley Scott','Steven Soderbergh','Christopher Nolan','Clint Eastwood']
for name in director_list:
    df_13 = df[df.director.str.contains(name, na = False)]
    films_count = df_13.imdb_id.count()
    print(name, films_count)
print('\n')
#answer_ls.append(3)

#Решение 2
pd.DataFrame(df.director.str.split('|').tolist()).stack().value_counts()

Steven Spielberg 10
Ridley Scott 12
Steven Soderbergh 13
Christopher Nolan 8
Clint Eastwood 12

Steven Soderbergh        13
Ridley Scott             12
Clint Eastwood           12
Robert Rodriguez         11
Peter Farrelly           10
                         ..
Steve Box                 1
Jorma Taccone             1
Todd Strauss-Schulson     1
Michael Cuesta            1
Jonathan Frakes           1
Length: 998, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [27]:
pd.DataFrame(df12.director.str.split('|').tolist()).stack().value_counts()
#answer_ls.append(4)

Ridley Scott                 12
Steven Soderbergh            10
Clint Eastwood               10
Steven Spielberg             10
Tim Burton                    9
                             ..
Lee Sternthal                 1
Elizabeth Allen Rosenbaum     1
Morten Tyldum                 1
Richard Curtis                1
Joshua Michael Stern          1
Length: 814, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [29]:
director_list15 = ['Steven Spielberg','James Cameron','Christopher Nolan','David Yates','Peter Jackson']
new_dict = {}
n = 0
for name in director_list15:
    n+=1
    df15 = df[df.director.str.contains(name, na = False)]
    revenue = df15.revenue.sum()
    budget = df15.budget.sum()
    income = revenue-budget
    new_dict.setdefault(name,[income])
dict1=pd.DataFrame(new_dict)
display(dict1)
display((dict1.max()).max())
x = max(new_dict.values())
for i,m in new_dict.items():
    if m == x:
        print(i,m)
#answer_ls.append(5)

,Steven Spielberg,James Cameron,Christopher Nolan,David Yates,Peter Jackson
0,2449700791,2548546718,3162548502,3379295625,5202593685

5202593685

Peter Jackson [5202593685]

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [30]:
new_dict = {}
actor = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
for i in actor:
   df16 = df[df.cast.str.contains(i, na=False)]
   income = df16.revenue.sum() - df16.budget.sum()
   new_dict.setdefault(i,income)
x = max(new_dict.values())
# display (x)
for i,m in new_dict.items():
    if m == x:
        print(i,m)
#answer_ls.append(1)

Emma Watson 6666245597

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [32]:
df17 = df[df['release_year'] == 2012]
actor = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
new_dict = {}
for name in actor:
    df177 = df17[df17.cast.str.contains(name, na = False)]
    income = df177.revenue.sum()-df177.budget.sum()
    new_dict.setdefault(name, income)
print(new_dict)
for i,v in new_dict.items():
    if v == min(new_dict.values()):
        print (i, v)
print('\n')
#answer_ls.append(3)

{'Nicolas Cage': -32893443, 'Danny Huston': -32893443, 'Kirsten Dunst': -68109207, 'Jim Sturgess': -23410657, 'Sami Gayle': -32893443}
Kirsten Dunst -68109207

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [34]:
df18 = df[df['budget']>df.budget.mean()]
actor =['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
new_dict = {}
for name in actor:
    df188 = df18[df18.cast.str.contains(name,na=False)]
    films_count = df188.imdb_id.count()
    new_dict.setdefault(name, films_count)
print(new_dict)
for i,v in new_dict.items():
    if v == max(new_dict.values()):
        print(i ,v)
print('\n')
#answer_ls.append(3)

{'Tom Cruise': 15, 'Mark Wahlberg': 14, 'Matt Damon': 18, 'Angelina Jolie': 16, 'Adam Sandler': 17}
Matt Damon 18

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [35]:
df19 = df[df.cast.str.contains('Nicolas Cage')]
genres = ['Drama','Action', 'Thriller', 'Adventure', 'Crime']
new_dict = {} 
for i in genres:
    df199 = df19[df19.genres.str.contains(i, na = False)]
    genres_count = df199.imdb_id.count()
    new_dict.setdefault(i, genres_count)
print(new_dict)
for i,v in new_dict.items():
    if v == max(new_dict.values()):
        print(i,v)
#answer_ls.append(2)

{'Drama': 12, 'Action': 17, 'Thriller': 15, 'Adventure': 7, 'Crime': 10}
Action 17

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [36]:
companies = ['Universal', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation']
new_dict = {}
for name in companies:
    df20 = df[df.production_companies.str.contains(name, na = False)]
    films_count = df20.imdb_id.count()
    new_dict.setdefault(name, films_count)
display(new_dict)
for i,v in new_dict.items():
    if v == max(new_dict.values()):
        print(i, v)
print('\n')
#answer_ls.append(1)

{'Universal': 185,
 'Paramount Pictures': 122,
 'Columbia Pictures': 163,
 'Warner Bros': 183,
 'Twentieth Century Fox Film Corporation': 109}

Universal 185

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [38]:
df21 = df[df['release_year']==2015]
x = pd.DataFrame(df21.production_companies.str.split('|').tolist()).stack().value_counts()
print(x)
print('\n')
#answer_ls.append(4)

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
                                          ..
Ghost House Pictures                       1
Scholastic Entertainment                   1
Huayi Brothers Media                       1
Ram Bergman Productions                    1
Thunder Road Pictures                      1
Length: 246, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [41]:
df22 = df[df.genres.str.contains('Comedy', na = False)]
x = pd.DataFrame(df22.production_companies.str.split('|').tolist()).stack().value_counts()
print(x)
#answer_ls.append(2)

Universal Pictures                        75
Columbia Pictures                         62
Warner Bros.                              46
Walt Disney Pictures                      45
Twentieth Century Fox Film Corporation    44
                                          ..
Ilion Animation Studios                    1
Jackie Chan Films Limited                  1
What to Expect Productions                 1
Newmarket Capital Group                    1
David Ladd Films                           1
Length: 702, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [43]:
df23 = df[df['release_year']==2012] # Создаю db по результатам за 2012 год
x = pd.DataFrame(df23.production_companies.str.split('|').tolist()) # Разбиваю данные по студиям 
new_list = (list(x[0].unique())) # Получаю список студий выпустивших фильмы в 2012год
# display(new_list)
new_dict = {} # Создаю словарь для дальнейшей сортировки данных и внесения информации по прибыльности компаний
for name in new_list:   # Алгоритм расчета прибыли студии
    df233 = df23[df23.production_companies.str.contains(name, na = False)]
    income = df233.revenue.sum() - df233.budget.sum()
    new_dict.setdefault(name, income)
sorted_dict = sorted(new_dict.values()) # сортировка полученного словаря по значениям (чтобы видеть данные всех компаний)
#display(sorted_dict)
for income in sorted_dict: # получение сортировки по прибыли
    for i,v in new_dict.items():
        if v==income:
            print(i,v)
#answer_ls.append(3)

France 2 CinÃ©ma -82545651
Onyx Films -51893525
DreamWorks SKG -21520945
American Zoetrope -16215682
Industry Entertainment -15363831
DNA Films -8962258
Participant Media -6861212
Pariah Entertainment Group -3916401
Ghoulardi Film Company -3741940
Dos Corazones -2377154
Ixtlan 2000000
Dimension Films 3493728
Blueprint Pictures 4422261
Serenade Films 7231461
Lawrence Bender Productions 10346186
Irish Film Board 10372606
TriStar Pictures 10637469
Saturn Films 11550834
Endgame Entertainment 17042000
Plan B Entertainment 22930465
Wessler Entertainment 24819301
Anarchos Productions 28482868
StudioCanal 30727492
Alcon Entertainment 39700000
Focus Features 40278187
Emmett/Furla Films 41126384
Bazelevs Production 43265139
Headline Pictures 48520298
Scott Rudin Productions 52263166
Lakeshore Entertainment 59293721
Apatow Productions 66128471
Ghost House Pictures 71446075
Rainforest Films 84070507
Silver Pictures 88000000
20th Century Fox 94772232
Village Roadshow Pictures 95527149
Brownstone Productions 98350426
Hammer Film Productions 110730736
Nick Wechsler Productions 160221571
Spyglass Entertainment 166114570
Nu Image Films 179679980
Davis-Films 207462051
Contrafilm 256499543
GK Films 283351277
Walt Disney Animation Studios 306222889
Amblin Entertainment 399026776
Paramount Pictures 410726715
Walt Disney Pictures 420613375
Ingenious Film Partners 489016565
Canal+ 496131269
The Weinstein Company 534041592
Fox 2000 Pictures 544128741
Lionsgate 709309876
Twentieth Century Fox Film Corporation 726676825
DreamWorks Animation 763862944
WingNut Films 767003568
Blue Sky Studios 782244782
Summit Entertainment 961582873
Legendary Pictures 982041287
New Line Cinema 1028114941
Relativity Media 1032593938
Marvel Studios 1299557910
Universal Pictures 1981011579
Columbia Pictures 2501406608

In [44]:
# Проверка
companies = ['Universal', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation']
new_dict = {}
for name in companies:
    df233 = df23[df23.production_companies.str.contains(name, na = False)]
    income = df233.revenue.sum() - df233.budget.sum()
    new_dict.setdefault(name, income)
#display(new_dict)
for i,v in new_dict.items():
    if v == max(new_dict.values()):
        print(i, v)
print('\n')

Columbia Pictures 2501406608

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [46]:
df24 = df
df24['income'] = df['revenue']-df['budget']
df244 = df24[df24.production_companies.str.contains('Paramount Pictures', na = False)]
failure = df244[df244.income == df244.income.min()][['imdb_id', 'original_title']]
display(failure)
print('\n')
#answer_ls.append(1)

       imdb_id        original_title
926  tt0267626  K-19: The Widowmaker

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [47]:
df_grouped_25 = df.groupby(['release_year']).sum()
display(df_grouped_25[df_grouped_25.income==df_grouped_25.income.max()])
print('\n')
#answer_ls.append(5)

,popularity,budget,revenue,runtime,vote_count,vote_average,income
release_year,,,,,,,
2015,412.757717,6780630004,25449202382,13355,143377,755.2,18668572378

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [48]:
df26 = df[df.production_companies.str.contains('Warner', na=False)]
df26_g = df26.groupby(['release_year'])[['imdb_id','original_title','income']].sum().sort_values(['income'])
print(df26_g)
print('\n')
#answer_ls.append(1)

                  income
release_year
2000           452631386
2006           617151739
2015           870368348
2002          1022709901
2012          1258020056
2001          1343545668
2005          1595278228
2004          1631933725
2013          1636453400
2009          1822454136
2003          1855493377
2011          1871393682
2010          1974712985
2008          2134595031
2007          2208217007
2014          2295464519

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [49]:
df27 = df.release_date.str.split('/', expand = True) # Количество фильмов соответствует количеству строк, поэтому достаточно разбить формат даты по столбцам
display(df27[0].value_counts()) # И подсчитать количество фильмов выпущенных по месяцам за все время
#answer_ls.append(4)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: 0, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [52]:
df28 = df[df.release_date.str.match(pat = '6/|7/|8/', na = False)]
display(df28.imdb_id.count())
display(len(df28))
#answer_ls.append(2)

450

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [54]:
df29 = df[df.release_date.str.match(pat = '12/|1/|2/', na = False)]
x = pd.DataFrame(df29.director.str.split('|').tolist()).stack().value_counts()
print(df29.director.value_counts())
#answer_ls.append(5)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Shawn Levy           4
                    ..
Diane Keaton         1
Seth Gordon          1
Ava DuVernay         1
Stephen Kay          1
Brad Peyton          1
Name: director, Length: 333, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [56]:
df30 = pd.DataFrame(df.release_date.str.split('/').tolist()) #Я просто оххуенно преобразовал таблицу
df30.columns = ['month','day','year']
df30['imdb_id']=df['imdb_id']
#display(df30)
joineddf30 = df.merge(df30, on = 'imdb_id', how ='left')
joineddf31 = joineddf30.groupby(['month'])[['imdb_id','original_title','income', 'year']].mean().sort_values(['income'])
joineddf32 = joineddf30.groupby(['month'])[['imdb_id','original_title','income', 'year']].sum().sort_values(['income'])
print(joineddf31, joineddf32)
#answer_ls.append(2)

             income
month
9      4.792476e+07
1      4.906260e+07
8      5.987957e+07
2      6.558944e+07
10     6.986510e+07
4      8.641614e+07
3      8.795011e+07
11     1.277682e+08
7      1.289288e+08
12     1.390737e+08
5      1.788537e+08
6      1.874236e+08             income
month
1       5396885454
2       8854574425
8       9640610446
9      10878921041
4      12876005537
10     12994907859
3      13720216540
7      18307895020
11     18654155473
5      25039516141
12     26563071474
6      27551262500

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [57]:
df31 = pd.DataFrame(df.production_companies.str.split('|').tolist())
df31.columns = ['company1', 'company2', 'company3', 'company4','company5' ]
df31 = df31.fillna("0")
x = list(df31.company1.unique())
company2 = list(df31.company2.unique())
company3 = list(df31.company3.unique())
company4 = list(df31.company4.unique())
company5 = list(df31.company5.unique())
s = x + company2+company3+company4+company5
df312 = pd.DataFrame(s)
df312.columns = ['movies']
un = list(df312.movies.unique())
new_dict = {}
for i in un:
    df311 = df[df.production_companies.str.contains(i)]
    list1 = list(df311.original_title)
    n = 0
    for word in list1:
        everage = len(word)/len(list1)
        n+=everage
    new_dict.setdefault(i, n)
#sorted_dict = sorted(new_dict.values()) #сортирую словарь в порядке увеличения значения
#print(sorted_dict)
#for k in sorted_dict:
#    for i,v in new_dict.items():
#        if v == k:
#            print(i,v)
for i, v in new_dict.items():
    if v == max(new_dict.values()):
        print(i,v)
#answer_ls.append(5)

C:\Users\Scheep\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions 83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [76]:
df31 = pd.DataFrame(df.production_companies.str.split('|').tolist())
df31.columns = ['company1', 'company2', 'company3', 'company4','company5' ]
df31 = df31.fillna("0")
x = list(df31.company1.unique())
company2 = list(df31.company2.unique())
company3 = list(df31.company3.unique())
company4 = list(df31.company4.unique())
company5 = list(df31.company5.unique())
s = x + company2+company3+company4+company5
df312 = pd.DataFrame(s)
df312.columns = ['movies']
un = list(df312.movies.unique())
new_dict = {}
for i in un:
    df311 = df[df.production_companies.str.contains(i)]
    list1 = list(df311.original_title.str.split())
    n = 0
    for word in list1:
        everage = len(word)/len(list1)
        n+=everage
    new_dict.setdefault(i, n)
sorted_dict = sorted(new_dict.values()) #сортирую словарь в порядке увеличения значения
#print(sorted_dict)
for k in sorted_dict:
    for i,v in new_dict.items():
        if v == k:
            if v <8:
                continue
            else:
                print(i,v)
#for i, v in new_dict.items():
#    if v == max(new_dict.values()):
 #       print(i,v)
#answer_ls.append(5)

C:\Users\Scheep\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Cool Music 8.0
3Foot7 8.0
Total Entertainment 8.0
TSBD Canada Productions 8.0
Harry Potter Publishing Rights 8.0
Museum Canada Productions 8.0
Zohar International 8.0
Cool Music 8.0
3Foot7 8.0
Total Entertainment 8.0
TSBD Canada Productions 8.0
Harry Potter Publishing Rights 8.0
Museum Canada Productions 8.0
Zohar International 8.0
Cool Music 8.0
3Foot7 8.0
Total Entertainment 8.0
TSBD Canada Productions 8.0
Harry Potter Publishing Rights 8.0
Museum Canada Productions 8.0
Zohar International 8.0
Cool Music 8.0
3Foot7 8.0
Total Entertainment 8.0
TSBD Canada Productions 8.0
Harry Potter Publishing Rights 8.0
Museum Canada Productions 8.0
Zohar International 8.0
Cool Music 8.0
3Foot7 8.0
Total Entertainment 8.0
TSBD Canada Productions 8.0
Harry Potter Publishing Rights 8.0
Museum Canada Productions 8.0
Zohar International 8.0
Cool Music 8.0
3Foot7 8.0
Total Entertainment 8.0
TSBD Canada Productions 8.0
Harry Potter Publishing Rights 8.0
Museum Canada Productions 8.0
Zohar International 8.0
Cool Music 8.0
3Foot7 8.0
Total Entertainment 8.0
TSBD Canada Productions 8.0
Harry Potter Publishing Rights 8.0
Museum Canada Productions 8.0
Zohar International 8.0
Dos Corazones 9.0
The Saul Zaentz Company 9.0
Polsky Films 9.0
Dos Corazones 9.0
The Saul Zaentz Company 9.0
Polsky Films 9.0
Dos Corazones 9.0
The Saul Zaentz Company 9.0
Polsky Films 9.0
Jim Henson Company, The 10.0
Four By Two Productions 12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [62]:
df33 = df
df33['original_title'] = df['original_title'].apply(lambda x: str(x).lower())
x = pd.DataFrame(df.original_title.str.split().tolist()).stack().value_counts()
print(len(x))
#answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [63]:
df = pd.read_csv('data.csv')
df34 = df.sort_values(by = ['vote_average'], ascending = False).reset_index()
list1 = ['Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King', 'Upside Down','Gone Girl', '12 Years a Slave']
for i in df34.original_title[0:19]: # 19 - т.к. 1% от 1890 ~ 19, хотя фильмов попдающих в список 'лучшего 1%'  - 28
    for v in list1:
        if i==v:
            print(i)
#answer_ls.append(1)

Inside Out
The Lord of the Rings: The Return of the King
12 Years a Slave
Gone Girl

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [64]:
import pandas as pd
df = pd.read_csv('data.csv')
df35 = pd.DataFrame(df.cast.str.split('|').tolist()).stack()
df355 = pd.DataFrame(df.cast.str.split('|', expand = True))
df355 = df355.fillna('NaN')

actor1 = ['Johnny Depp', 'Hugh Jackman', 'Vin Diesel', 'Adam Sandler', 'Daniel Radcliffe']
actor2 = ['Helena Bonham Carter', 'Ian McKellen', 'Paul Walker', 'Kevin James', 'Rupert Grint']
for i in actor1:
    df351 = df[df.cast.str.contains(i)]
    for n in actor2:
        df352 = df351[df351.cast.str.contains(n)]
        m = df352.imdb_id.count()
        if m == 0:
            continue
        else:
            print(i,n,m)
#answer_ls.append(5)

Johnny Depp Helena Bonham Carter 6
Hugh Jackman Ian McKellen 5
Vin Diesel Paul Walker 5
Adam Sandler Kevin James 5
Daniel Radcliffe Helena Bonham Carter 1
Daniel Radcliffe Rupert Grint 8

In [65]:
# Вариант 2 
for i in range(5):
    a1 = actor1[i]
    a2 = actor2[i]
    df353 = df[df.cast.str.contains(a1)&df.cast.str.contains(a2)]
    x = df353.imdb_id.count()
    print(a1, a2, x)

Johnny Depp Helena Bonham Carter 6
Hugh Jackman Ian McKellen 5
Vin Diesel Paul Walker 5
Adam Sandler Kevin James 5
Daniel Radcliffe Rupert Grint 8

In [66]:
# Вариант 3 #Очень долгий
a = list(df355[0].unique())
b = list(df355[1].unique())
for i in a:
    df356 = df[df.cast.str.contains(i)]
    for n in b:
        if i==n:
            continue
        df357 = df356[df356.cast.str.contains(n)]
        m = df357.imdb_id.count()
        if m in [0,1,2,3,4]:
            continue
        else:
           print(i,n,m)

Vin Diesel Paul Walker 5
Adam Sandler Kevin James 5
Johnny Depp Helena Bonham Carter 6
Kevin James Adam Sandler 5
Owen Wilson Ben Stiller 6

KeyboardInterrupt:

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [75]:
import pandas as pd
df = pd.read_csv('data.csv')
df36 = pd.DataFrame(df.director.str.split('|').tolist()).stack().value_counts() # Узнаем общее кол-во фильмов каждого режиссера
df36 = df36.reset_index()
df36.columns = ['director','total_film']
df361 = df[df.revenue>df.budget]
df362= pd.DataFrame(df361.director.str.split('|').tolist()).stack().value_counts() # Узнаем успешное кол-во фильмов каждого режиссера
df362 = df362.reset_index()
df362.columns = ['director','success_film']
df363 = df362.merge(df36, how = 'inner', on = 'director') # объединяем df
df363['success_value'] = df363.success_film/df363.total_film
df363 = df363.sort_values(by=['success_value'],ascending=False)
print(df363[(df363.total_film>6)&(df363.success_value==1)].head(10))
# В полученном df не оказалось перечисленных режиссеров
list1 = {'director':['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood ']}
df364 = pd.DataFrame(list1)
df365 = df364.merge(df363, how='inner', on = 'director')
df365 = df365[df365.success_value == df365.success_value.max()]
print(df365)
#answer_ls.append(4)

             director  success_film  total_film  success_value
0        Ridley Scott            12          12            1.0
11       Brett Ratner             8           8            1.0
3    Steven Spielberg            10          10            1.0
4          Tim Burton             9           9            1.0
6       Peter Jackson             8           8            1.0
7         Michael Bay             8           8            1.0
8       Antoine Fuqua             8           8            1.0
10  Christopher Nolan             8           8            1.0
            director  success_film  total_film  success_value
3  Christopher Nolan             8           8            1.0

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []